body {
	margin: 0;
}

.app-container {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	min-width: 100vw;
}
.head-container {
	background: #fff;
	display: flex;
	justify-content: space-between;
	text-align: center;
	flex-shrink: 0;
	width: 100vw;
}
.logo-left {
	height: 34px;
	margin: 3px 10px;
}
.ant-tabs-nav {
	margin: 0 10px !important;
}
.body-container,
.ant-tabs-content-holder,
.ant-tabs-content {
	width: 100vw;
	flex-grow: 1;
	display: flex;
	align-items: stretch;
}

.index-page {
	background-position: center;
	width: 100%;
	height: 100%;
	background-size: cover;
	position: absolute;
	display: flex;
	flex-flow: column;
	justify-content: center;
	align-items: center;
	background-image: url(https://i.loli.net/2021/03/11/A3roIvguyRQ8CbS.jpg);
}
@media screen and (max-width: 767px) {
	.index-page {
		background-image: url(https://i.loli.net/2021/03/11/3URjATLeuhHgFpn.jpg);
	}
}
.index-head {
	display: flex;
	align-items: center;
	justify-content: center;
	margin-bottom: 16px;
	width: 584px;
	max-width: 80vw;
	opacity: 90%;
}
.logo-center {
	height: 12vh;
}
.search-bar {
	width: 584px;
	max-width: 80vw;
	margin-bottom: 40px;
	opacity: 90%;
	border-radius: 20px;
	backdrop-filter: blur(30px);
}
